
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %>!</h1>
    <p>

      To successfully updated your account,
      Input the next verification code.

      <b><%= @user.verification_code %></b>
    </p>
    <p>Thanks, and have a great day!</p>
  </body>
</html>
